#ask-serp-analyser.postbox>.inside {
	padding: unset;
}

.gauge-wrapper {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 20px 15px 15px;
}

.gauge {
    background: #e7e7e7;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0 !important;
    position: relative;
    overflow: hidden;
}

.gauge.min-scaled {
    transform: scale(0.5);
}

.gauge-center {
    content: '';
    color: #fff;
    width: 60%;
    height: 60%;
    background: #15222E;
    border-radius: 100px 100px 0 0 !important;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 21%;
    bottom: 0;
    z-index: 10;
}

.gauge-center .label, .gauge-center .number {
    display: block;
    width: 100%;
    text-align: center;
    border: 0 !important;
}

.gauge-center .label {
    font-size: 0.75em;
    opacity: 0.6;
    margin: 1.1em 0 0.3em 0;
}

.gauge-center .number {
    font-size: 1.2em;
}

.needle {
    width: 80px;
    height: 7px;
    background: #15222E;
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 100% !important;
    border-top-right-radius: 5px !important;
    position: absolute;
    bottom: -2px;
    left: 20px;
    transform-origin: 100% 4px;
    transform: rotate(0deg);
    transition: transform 2s;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
    display: block;
    z-index: 9;
}

.four.rischio1 .needle {
    animation: fourspeed1 2s 1 both;
    animation-delay: 1s;
    display: block;
}

.four.rischio2 .needle {
    animation: fourspeed2 2s 1 both;
    animation-delay: 1s;
    display: block;
}

.four.rischio3 .needle {
    animation: fourspeed3 2s 1 both;
    animation-delay: 1s;
    display: block;
}

.four.rischio4 .needle {
    animation: fourspeed4 2s 1 both;
    animation-delay: 1s;
    display: block;
}

.slice-colors {
    height: 100%;
}

.slice-colors .st {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
}


.four .slice-colors .st.slice-item:nth-child(2) {
    border-top: 50px #e67e22 solid;
    border-right: 50px #e67e22 solid;
    background-color: #E84C3D;
}

.four .slice-colors .st.slice-item:nth-child(4) {
    left: 50%;
    border-bottom: 50px #1eaa59 solid;
    border-right: 50px #1eaa59 solid;
    background-color: #f1c40f;
}

@-webkit-keyframes fourspeed4 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(164deg);
    }
}

.seo-dashboard .card {
    max-width: unset;
    min-width: unset;
    text-align: center;
    display: flex;
    margin: 5px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    height: 75px;
}

.seo-dashboard .serp-button-holder {
    width: 100%;
    text-align: center;
}

.seo-dashboard .card-title {
    text-transform: uppercase;
}

.seo-dashboard .card-value {
    font-weight: 700;
    font-size: 1.4rem;
}

.seo-dashboard .card-muted {
    font-size: 0.8rem;
}

.seo-dashboard .row {
    display: flex;
    flex-wrap: wrap;
}

.seo-dashboard .col {
    width: 50%;
}

.tab {
    overflow: hidden;
	padding-bottom: 0.5rem;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 10px;
    transition: 0.3s;
    font-size: 15px;
    height: 24px;
	border-bottom: 2px solid transparent;
}

.tab button:last-child {
	float: right;
}

.tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 10px;
}

.tag-holder {
	display: flex;
    width: 100px;
    border-radius: 24px;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: fit-content;
	background-color: #fff5f5;	
    color: #994c4c;	
}

.tag-holder.amber {
    background-color:#feecc8;	
    color: #985c44;	
}

.tag-holder.green {
    background-color: #e2fbdc;	
    color: #599268;	
}

.tag-text {
    font-weight: 600;
    padding: 0 5px;
}

.tag-value {
	 background: white;
    border-radius: 0px 24px 24px 0;
    padding: 5px;
    margin-left: 5px;
}

.tag-count {
    font-weight: 700;
}

.tag-required {
	font-size: 0.8rem;
}

/* Change background color of buttons on hover */
.tab button:hover { */
    border-bottom: 2px solid #fb8122;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 2px solid #fb8122;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.accordion-toggle {
    color: #1e1e1e;
    cursor: pointer;
    padding: 16px 16px 16px 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    margin: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-toggle.active {
  background-color: #f0f0f0; 
}

.accordion-toggle svg {
	transition: transform 300ms ease-in-out;
}

.accordion-toggle.active svg {
	transform: rotate(-180deg);
}

.accordion-toggle:hover {
  background-color: #f0f0f0; 
}

.accordion-content {
	padding: 0 18px;
	display: none;
}

#settings {
	padding: 0 16px; 
}

#post-body.columns-2 #postbox-container-1 {
	margin-right: -370px;
    width: 350px;
}

#poststuff #post-body.columns-2 #side-sortables {
    width: 350px;
}

#poststuff #post-body.columns-2 {
    margin-right: 370px;
}

@media (min-width: 782px) {
    .interface-complementary-area {
        width: 450px;
    }
}

#ask-serp-seo .inside {
    padding: unset;
    margin: unset;
}



.google-serp-preview {
    border-radius: 8px;
    box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
    padding: 0.5rem;
}

.google-serp-arrow {
    border-bottom-color: rgb(0, 102, 33);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 4px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 4px;
    border-top-color: rgb(0, 102, 33);
    border-top-style: solid;
    border-top-width: 5px;
    color: rgb(128, 128, 128);
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 0px;
    position: absolute;
    line-height: 27px;
    margin-left: 3px;
    margin-top: 6px;
    text-align: center;
    user-select: none;
    visibility: visible;
    white-space: nowrap;
    width: 0px;
}

#google-serp-title {
    color: rgb(26, 13, 171);
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 21.6px;
    text-align: left;
    text-decoration: none;
    visibility: visible;
    white-space: nowrap;
}

#google-serp-url {
    color: rgb(0, 102, 33);
    font-family: arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    visibility: visible;
    white-space: nowrap;
}

#google-serp-description {
    color: rgb(84, 84, 84);
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18.2px;
    text-align: left;
    visibility: visible;
    word-wrap: break-word;
}
